volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:14
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    depends_on:
      - db
    build: ./backend/
    env_file: .env
    environment:
      - PYTHONUNBUFFERED=1
      - DJANGO_DEBUG=1
      - LOGGING_LEVEL=DEBUG
    ports:
      - 8000:8000
    volumes:
      - static:/static/
      - media:/media/
  frontend:
    env_file: .env
    build: ./frontend/
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    depends_on:
      - backend
    build: ./gateway/
    env_file: .env
    ports:
      - 80:80
    volumes:
      - static:/static
      - media:/media
