volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:14
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    depends_on:
      - db
    image: maksimnohrin/foodgram_backend:latest
    env_file: .env
    volumes:
      - static:/static/
      - media:/media/
  frontend:
    env_file: .env
    image: maksimnohrin/foodgram_frontend:latest
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    depends_on:
      - backend
    image: maksimnohrin/foodgram_gateway:latest
    env_file: .env
    ports:
      - 9001:80
    volumes:
      - static:/static
      - media:/media
